<style type="text/css">
    body { 
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        border-color: black;
        border-style: solid;
        font-size: medium;
        border-width: 4px;
        font-family: 'Times New Roman';
    }

    p.texte_logo {text-align:center;}

    p.footer {
        text-align: center;
        color: white;
        background-color: black;
    }
    p.signature {text-align: right;}

    h1,h2,h3,h4,p.tirets { text-align: center;}
    div.logo{align-items: center;}
    img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto }
</style>
<html>
    <body>
        <h2>REPUBLIQUE DU SENEGAL</h2>
        <h3>Un Peuple - Un But - Une Foi</h3>
        <p class="tirets">------------</p>
        <h4>Ministère de l'Enseignement Supérieur de la Recherche et de l'Innovation</h4>
        <h3>UNIVERSITE ALIOUNE DIOP DE BAMBEY</h3>
        <div class="logo">
            <img class="logo" src="http://localhost:3000/logo_uadb.jpeg" alt="logo_uadb">
         <p class="texte_logo"> L'excellence est ma constance, l'éthique ma vertu</p>
        </div>
            
            <h1>CERTIFICAT D'INSCRITION</h1><br/>
        <p>Le Directeur de la Scolarité de L'Université Alioune DIOP de Bambey soussigné,<br/><br/>
        Certifie que<strong> {{name.first}} {{name.last}} </strong>né le<strong> {{dateNaissance}} </strong>à<strong> {{lieuNaissance}} </strong><br/><br/>
        Numéro Etudiant :<strong> {{numEtudiant}} </strong><br/><br/>
        est régulièrement inscrit(e) sous le numéro :<strong> {{numEtudiantComplet}} </strong></p>
        <p>
            UFR :<strong> {{ufr}} </strong><br/>
            Filière :<strong> {{filiere}} </strong><br/>
            Niveau :<strong> {{niveau}} </strong><br/>
        </p>
        <p>Pour l'année universitaire :<strong> {{anneeUniv}} </strong></p>
        <p>En foi de quoi ce présent certificat est delivré pour servir et valoir ce que de droit.</p>
        <p>Bambey, le<strong> {{date}} </strong></p>
        
        <p class="signature">Signature et cachet</p><br/><br/>

        <p><strong>N.B:</strong><em> il n'est délivré qu'un seul certificat<br/>
            il appartient au titulaire d'établir lui-meme et d'en faire<br/>
            certifier les copies conformes qui peuvent lui etre nécessaires<br/></em>
        </p>
       <p class="footer"> UADB - B.P:30 - Tel:(+221)33 973 30 84 - Fax:(+221)33 973 30 93 - Site: www.uadb.edu.sn</p>
    </body>
        
</html>

